#!/usr/bin/env bash
export DJANGO_ALLOWED_HOSTS="* localhost 127.0.0.1 [::1]"
export DJANGO_SECRET_KEY='your django secret key'


export GOOGLE_CLIENT_ID='your-google-client-id'
export GOOGLE_CLIENT_SECRET='your-google-client-secret'

export FACEBOOK_CLIENT_ID='your-facebook-client-id'
export FACEBOOK_CLIENT_SECRET='your-facebook-client-secret'

